div{
    /*border: 1px solid red;*/
}
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #f7f3ed;
    font-family: Verdana;
}

#nav_div{
    padding-left: 120px;
    padding-right: 120px;
    margin: 0px;
    background-color: #265B31;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#nav_row{
    margin: 0px;
    padding: 0px;
}
#title_column{
    padding: 0px;
}
#logo_slika{
    height: 3em;
    margin-top: 0.2em;
    margin-left: 0px;
}
#nav_links_column{
    display: flex;
    flex-direction: row;
    color: #E7DCCA;
    justify-content: right;
    align-items: center;
    padding: 0px;
}
.text_navlink{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 14px;
    color: #E7DCCA;
    transition: color 0.5s;
}
.text_navlink:hover{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.first_link{
    margin-left: 0px;
}
.icon_navlink{
    margin-left: 2em;
    color: #E7DCCA;
    transition: color 0.5s;
}
.icon_navlink:hover{
    margin-left: 2em;
    color: white;
}
#search_icon{
    margin-left: 1em;
    color: #E7DCCA;
    transition: color 0.5s;
}
#search_icon:hover{
    color: white;
}
#current_page{
    border-bottom: #E7DCCA 2px solid;
    color: #E7DCCA;
    transition: border-bottom 0.5s, color 0.5s;
}
#current_page:hover{
    color: white;
    border-bottom: white 2px solid;
}
i{
    font-size: 0.8em;
}
#menubutton{
    display: none;
}
main{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: 100%;
}
#banner_div{
    margin: 0px;
    padding: 0px;
    background-image: url("images/babies_breath.jpg");
    background-size: cover;
    height: 240px;
    margin: 30px;
}
#banner_row{
    margin: 0px;
    padding: 0px;
    padding-left: 90px;
    padding-right: 90px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(247, 243, 237, 1), rgb(247, 243, 237, 0));
}
#banner_col{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 4.5em;
    font-family: Georgia;
    line-height: 1.2em;
    color: #265B31;
}

#locations_div{
    margin: 0px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 120px;
    margin-top: 90px;
}
.location_row{
    margin: 0px;
    padding: 0px;
    height: 360px;
}
.location_col{
    margin: 0px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: #E7DCCA;
}
.location_text{
    height: 160px;
}
.location_info_table_div{
    height: 160px;
    display: flex;
    align-items: last baseline;
}
.location_table{
    width: 100%;
}
.location_tr{
    border-top: 1px solid black;
    height: 2em;
}
#location1_image{
    background-image: url("images/mini_show_off.jpg");
    background-size: cover;
    background-position: center;
}
#location2_image{
    background-image: url("images/trogir_experience2.jpg");
    background-size: cover;
    background-position: right;
}
h2{
    font-family: Georgia;
    color: #265B31;
    line-height: 1.2em;
    font-size: 3em;
    padding: 0px;
}

#upcoming_events{
    width: 100%;
    background-color: #E7DCCA;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 90px;
}
.upcoming_row{
    width: 100%;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    height: 120px;
}
.upcoming_info_col{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    background-color: #f7f3ed;
}
.date_div{
    margin: 0px;
    background-color: #265B31;
    color: #f7f3ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
}
.day_txt{
    font-size: calc(120px*0.4);
    line-height: 1em;
    margin: 0px;
    padding: 0px;
}
.month_txt{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0px;
    padding: 0px;
}
.upcoming_info_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding-left: 20px;
}
h3{
    font-family: Georgia;
    color: #265B31;
    font-size: 2em;
}
.upcoming_info_p{
    line-height: 1.5em;
    padding: 0px;
    margin: 0px;
}
.upcoming_img_col{
    background-image: linear-gradient(to right, rgb(247, 243, 237, 1), rgb(247, 243, 237, 0.7), rgb(247, 243, 237, 0));
    margin: 0px;
    width: 100%;
    height: 100%;
}
#upcoming_image1{
    background-image: url("images/hushhush2.jpg");
    background-position: top left;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0px;
}
#upcoming_image2{
    background-image: url("images/event_img.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0px;
}



footer{
    margin: 0px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #265B31;
    padding-top: 40px;
    padding-bottom: 20px;
}
#footer_nav_row{
    margin: 0px;
    padding: 0px;
    height: 120px;
}
#logo_col{
    display: flex;
    align-items: first baseline;
    justify-content: right;
    padding: 0px;
    height: 100%;
}
#footer_logo_img{
    height: 100%;
    margin-right: -15px;
    margin-top: -10px;
}
#footer_nav{
    color: #E7DCCA;
    padding: 0px;
    font-size: 14px;
}
#footer_table{
    height: 100%;
}
td{
    padding-right: 20px;
}
#social_media_row{
    padding: 0px;
    margin: 0px;
}
#social_media{
    color: #E7DCCA;
    display: flex;
    justify-content: right;
    font-size: 14px;
    padding: 0px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
#terms_row{
    color: #E7DCCA;
    padding: 0px;
    margin: 0px;
}
.footer_icons_social{
    font-size: 1.2em;
    padding-left: 0.6em;
}
.footer_icons_payment{
    font-size: 1.2em;
    padding-right: 0.6em;
}
#terms_payment{
    padding: 0px;
}
#terms{
    display: flex;
    justify-content: right;
    padding: 0px;
}
.term_links{
    padding-left: 20px;
    font-size: 14px
}

@media (max-width: 768px) {
    #nav_div{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
        background-color: #265B31;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .text_navlink{
        display: none;
    }
    .icon_navlink{
        display: none;
    }
    #search_icon{
        display: none;
    }
    #menubutton{
        color: #E7DCCA;
        display: inline;
        background-color: #265B31;
        border: 0px;
        font-size: 1.5em;
        margin: 0px;
        padding: 0px;
    }
    #title_column{
        padding: 0px;
        display: flex;
        align-items: center;
    }
    #logo_slika{
        height: 3em;
        margin-top: 0.2em;
        margin-left: 0px;
    }
    #banner_div{
        margin: 0px;
        padding: 0px;
        background-image: url("images/babies_breath.jpg");
        background-size: 200%;
        height: 500px;
        margin: 10px;
        margin-top: 20px;
    }
    #banner_row{
        margin: 0px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(247, 243, 237, 1), rgb(247, 243, 237, 0));
    }
    #banner_col{
        padding: 0px;
        text-align: center;
    }

    h1{
        font-size: 3.5em;
        font-family: Georgia;
        line-height: 1.2em;
        color: #265B31;
        text-align: center;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.5em;
    }

    #locations_div{
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 90px;
        margin-top: 90px;
    }
    .location_row{
        margin: 0px;
        padding: 0px;
        height: auto;
    }
    .location_text{
        height: auto;
    }
    .location_info_table_div{
        height: auto;
        display: flex;
        align-items: last baseline;
        padding-top: 2em;
    }
    #location1_image{
        background-image: url("images/mini_show_off.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        aspect-ratio: 4/2;
        border-left: 20px solid #E7DCCA;
        border-right: 20px solid #E7DCCA;
        border-bottom: 10px solid #E7DCCA;
    }
    #location2_image{
        background-image: url("images/trogir_experience2.jpg");
        background-size: cover;
        background-position: right;
        width: 100%;
        aspect-ratio: 4/2;
        height: auto;
        border-left: 20px solid #E7DCCA;
        border-right: 20px solid #E7DCCA;
        border-top: 20px solid #E7DCCA;
    }

    #upcoming_image2{
        display: none;
    }
    #upcoming_image1{
        display: none;
    }
    #upcoming_events{
        width: 100%;
        background-color: #E7DCCA;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 90px;
    }
    .upcoming_row{
        width: 100%;
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        height: 120px;
    }
    .upcoming_info_txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        padding-left: 10px;
    }

    footer{
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #265B31;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #footer_nav_row{
        margin: 0px;
        padding: 0px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    #logo_col{
        display: flex;
        justify-content: left;
        padding: 0px;
        height: 120px;
        padding-bottom: 20px;
    }
    #footer_logo_img{
        height: 120px;
        margin-right: 0px;
        margin-top: 0px;
        margin-left: -5px;
    }
    #terms_payment{
        padding: 0px;
        padding-bottom: 1em;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    #social_media{
        color: #E7DCCA;
        display: flex;
        justify-content: right;
        font-size: 14px;
        padding: 0px;
        margin-bottom: 1em;
    }
    .footer_icons_payment{
        font-size: 1.2em;
        padding-left: 0.6em;
        padding-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #nav_div{
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        background-color: #265B31;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    h1{
        font-size: 3.5em;
        font-family: Georgia;
        line-height: 1.2em;
        color: #265B31;
        text-align: center;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.5em;
    }

    #banner_div{
        margin: 0px;
        padding: 0px;
        background-image: url("images/babies_breath.jpg");
        background-size: 150%;
        height: 400px;
        margin: 20px;
        margin-top: 20px;
    }
    #banner_row{
        margin: 0px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(247, 243, 237, 1), rgb(247, 243, 237, 0));
    }
    #banner_col{
        padding: 0px;
        text-align: center;
    }

    #locations_div{
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 90px;
        margin-top: 90px;
    }
    .location_row{
        margin: 0px;
        padding: 0px;
        height: auto;
    }
    .location_text{
        height: auto;
    }
    .location_info_table_div{
        height: auto;
        display: flex;
        align-items: last baseline;
        padding-top: 2em;
    }
    #location1_image{
        background-image: url("images/mini_show_off.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        aspect-ratio: 4/2;
        border-left: 20px solid #E7DCCA;
        border-right: 20px solid #E7DCCA;
        border-bottom: 10px solid #E7DCCA;
    }
    #location2_image{
        background-image: url("images/trogir_experience2.jpg");
        background-size: cover;
        background-position: right;
        width: 100%;
        aspect-ratio: 4/2;
        height: auto;
        border-left: 20px solid #E7DCCA;
        border-right: 20px solid #E7DCCA;
        border-top: 20px solid #E7DCCA;
    }

    #upcoming_events{
        width: 100%;
        background-color: #E7DCCA;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 90px;
    }
    #upcoming_image2{
        display: none;
    }
    #upcoming_image1{
        display: none;
    }

    footer{
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #265B31;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #footer_logo_img{
        height: 100%;
        margin-right: -10px;
        margin-top: -5px;
    }
}

@media (min-width: 992px) and (max-width: 1192px) {
    #nav_div{
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        background-color: #265B31;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    h1{
        font-size: 3.5em;
        font-family: Georgia;
        line-height: 1.2em;
        color: #265B31;
        text-align: center;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.5em;
    }

    #banner_div{
        margin: 0px;
        padding: 0px;
        background-image: url("images/babies_breath.jpg");
        background-size: 150%;
        height: 400px;
        margin: 20px;
        margin-top: 20px;
    }
    #banner_row{
        margin: 0px;
        padding: 0px;
        padding-left: 40px;
        padding-right: 40px;
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(247, 243, 237, 1), rgb(247, 243, 237, 0));
    }

    #locations_div{
        margin: 0px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 90px;
        margin-top: 90px;
    }

    #upcoming_events{
        width: 100%;
        background-color: #E7DCCA;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 90px;
    }

    footer{
        margin: 0px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: #265B31;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #footer_logo_img{
        height: 100%;
        margin-right: -10px;
        margin-top: -5px;
    }

}